
/.vs/RainbowCircle/FileContentIndex
/.vs/RainbowCircle
/Library
/Temp
/Assets/UI SFX Mega Pack
RainbowCircle.zip
/Logs
/obj
/obj
/obj/Debug
/obj
/obj
/obj
/obj
/obj
/obj
/obj
/obj
/obj/Debug
/obj
*.cache
/Logs
